<h1>Recuperar contraseña</h1>

<form action="/api/sessions/forgot-password" method="POST">
    <label>Email:</label>
    <input type="email" name="email" required>
    <button type="submit">Enviar enlace</button>
</form>

{{#if message}}
<p>{{message}}</p>
{{/if}}