<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/{{style}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="top-menu">
        <ul>
            <li><a href="/">Productos</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="/api/products/admin/add">Administración de Productos</a></li>
        </ul>
    </nav>

    {{{body}}}  

    <footer>
        <p>&copy; 2026</p>
    </footer>
</body>
</html>